[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=News Ticker Plugin
Comment=News Ticker Plugin
Icon=newstickerplugin
X-XFCE-Module=newstickerplugin
X-XFCE-Internal=false
X-XFCE-Unique=false
X-XFCE-API=2.0
