[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Python Plugin
Comment=Sample Plugin in python
Icon=sample-plugin
X-XFCE-Module=sample-plugin
X-XFCE-Internal=false
X-XFCE-Unique=false
X-XFCE-API=2.0
